<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.triptracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home">
        <intent-filter>
            <action android:name="android.intent.action.home" />
        </intent-filter>
        </activity>
        <activity android:name=".ImageViewer">
            <intent-filter>
                <action android:name="android.intent.action.imageviewer" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportViewer">
            <intent-filter>
                <action android:name="android.intent.action.reportviewer" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectDate">
            <intent-filter>
                <action android:name="android.intent.action.selectdate" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectTrip">
            <intent-filter>
                <action android:name="android.intent.action.selecttrip" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings">
            <intent-filter>
                <category android:name="android.intent.category.settings" />
            </intent-filter>
        </activity>
        <activity android:name=".StartTrip">
            <intent-filter>
                <category android:name="android.intent.category.starttrip" />
            </intent-filter>
        </activity>
        <activity android:name=".TrackingTrip">
            <intent-filter>
                <action android:name="android.intent.action.trackingtrip" />
            </intent-filter>
        </activity>
        <activity android:name=".TripFinish">
            <intent-filter>
                <action android:name="android.intent.action.tripfinish" />
            </intent-filter>
        </activity>
    </application>

</manifest>